// @import "~bootstrap/scss/bootstrap";
@import "vue-select/src/scss/vue-select.scss";

.hotel-item {
    padding: 10px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #000;
}

.page-link:disabled {
    opacity: 0.5;
}

.page-link.active {
    background: #007bff;
    color: #fff;
}

.price-container {
    display: flex;
    align-items: center
}

.price-container >div {
    margin: 0 5px;
}

.vue-slider {
    flex: 1;
}